<% form_for user do |f| -%>
  <%= f.error_messages %>
  <ul class="user_form">
    <li class="login">
      <%= f.label :login, "Username" %>
      <%= f.text_field :login %>
    </li>
    <li class="email">
      <%= f.label :email, "Email Address" %>
      <%= f.text_field :email %>
    </li>
    <li class="password">
      <%= f.label :password, "Password" %>
      <%= f.password_field :password %>
    </li>
    <li class="password_confirmation">
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation %>
    </li>
    <li class="submit">
      <%= f.submit submit %>
      <%= hidden_field_tag 'token', token unless token.nil? %>
    </li>
  </ul>
<% end -%>