<% form_for([project,feature]) do |f| %>
  <%= f.error_messages %>
  <ul>
    <li>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </li>
    <li>
      <%= f.submit submit %>
    </li>
  </ul>
<% end %>
