<p>
  <b>Name:</b>
  <%=h @feature.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @feature.description %>
</p>

<p>
  <b>Created by:</b>
  <%=h @feature.created_by %>
</p>


<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>