<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>Features: <%= controller.action_name %></title>
  <link rel="Shortcut Icon" type="images/ico" href="/favicon.ico" />
  
  <%= render :partial => 'layouts/head' %>
</head>
<body>
  <%= render :partial => 'layouts/alerts' %>
  <div id="content" class="content">
    <hgroup><h1><span class="label">Project:</span><%= @project.name %></h1></hgroup>
    <%= yield :layout %>
  </div>
  <div id="secondary_content" class="content">
    <ul class="time_display">
      <li><%= @month_hours %> <span class="label">month</span></li>
      <li><%= @week_hours %> <span class="label">week</span></li>
      <li><%= @day_hours %> <span class="label">day</span></li>
    </ul>
    <nav class="contextual_navigation">
      <ul>
        <li><%= link_to 'Add New Feature', new_project_feature_path(@project) %></li>
      </ul>
    </nav>
    <h2>People On This Project</h2>
    <h3><%= link_to 'Invite Another User', invite_project_path(@project) %></h3>
    <ul class="user_list">
    <% for user in @project.users %>
      <li><%= user.preferred_name %><br/><a href="mailto:<%= user.email %>"><%= user.email %></a></li>
    <% end %>
    </ul>
  </div>
  <%= render :partial => 'layouts/back_link' %>
  <%= render :partial => 'layouts/account_navigation' %>
  <%= render :partial => 'layouts/script' %>
</body>
</html>
