<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>Features: <%= controller.action_name %></title>
  <link rel="Shortcut Icon" type="images/ico" href="/favicon.ico" />
  
  <%= render :partial => 'layouts/head' %>
</head>
<body>
  <%= render :partial => 'layouts/alerts' %>
  <div id="content" class="content">
    <h1><%= @project.name %></h1>
    <%= yield :layout %>
  </div>
  <div id="secondary_content" class="content">
    <nav class="contextual_navigation">
      <ul>
        <li><%= link_to 'Feature List', project_features_path(@project) %></li>
        <li><%= link_to 'Add New Feature', new_project_feature_path(@project) %></li>
        <li><%= link_to 'Invite User', invite_project_path(@project) %></li>
      </ul>
    </nav>
  </div>
  <%= render :partial => 'layouts/back_link' %>
  <%= render :partial => 'layouts/account_navigation' %>
  <%= render :partial => 'layouts/script' %>
</body>
</html>
