<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>dayjob - login/register</title>
  <link rel="Shortcut Icon" type="images/ico" href="/favicon.ico" />
  
  <%= render :partial => 'layouts/head' %>
</head>
<body>
  <%= render :partial => 'layouts/alerts' %>
  <div id="content" class="content">
    <%= yield :layout %>
  </div>
  <div id="secondary_content" class="content">
    <%= yield :secondary_content %>
  </div>
  <%= render :partial => 'layouts/back_link' %>
  <%= render :partial => 'layouts/account_navigation' %>
  <%= render :partial => 'layouts/script' %>
</body>
</html>
