<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>Features: <%= controller.action_name %></title>
  <link rel="Shortcut Icon" type="images/ico" href="/favicon.ico" />
  
  <%= render :partial => 'layouts/head' %>
</head>
<body>
  <%= render :partial => 'layouts/alerts' %>
  <div id="content" class="content">
    <hgroup>
      <h1><span class="label">Project:</span> <%= @project.name %></h1>
    </hgroup>
    <h2><span class="label">Feature:</span> <%= @feature.name %></h2>
    <%= yield :layout %>
  </div>
  <div id="secondary_content" class="content">
    <h2><span class="label">Project Time:</span></h2>
    <ul class="time_display">
      <li><%= @month_hours %> <span class="label">month</span></li>
      <li><%= @week_hours %> <span class="label">week</span></li>
      <li><%= @day_hours %> <span class="label">day</span></li>
    </ul>
    <nav class="contextual_navigation">
      <ul>
        <li><%= link_to 'Add New Task', new_feature_task_path(@feature) %></li>
      </ul>
    </nav>
  </div>
  <%= link_to "Return to Project Features", 
              project_features_path(@project), 
              :id => "back_link" if current_user %>
  <%= render :partial => 'layouts/account_navigation' %>
  <%= render :partial => 'layouts/script' %>
</body>
</html>
